<form action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
  <!--enctype needed for file upload in form-->
  <p>
    <label for="title">Title</label>
    <input type="text" class="" id="title" name="title" value="<%= product.title %>" required>
  </p>
  <div id="image-upload-control">
    <p>
      <label for="image">Image </label>
      <input type="file" class="" id="image" name="image" accept="image/png, image/jpg" <% if(imageRequired) { %> required <% } %>>
    </p>

    <img src="" alt="Selected image">
  </div>

  <p>
    <label for="summary">Summary</label>
    <input type="text" class="" id="summary" name="summary" required maxlength="250" value="<%= product.summary %>">
  </p>
  <p>
    <label for="price">Price</label>
    <input type="number" class="" id="price" name="price" required min="100" step="0.01" value="<%= product.price %>">
  </p>
  <label for="description">Description</label>
  <textarea type="text" class="" id="description" name="description" rows="7" required><%= product.description%></textarea>
  </p>
  <p>
    <button type="reset" class="btn btn-alt">Reset</button>
    <button type="submit" class="btn">Submit</button>
  </p>
</form>